@use 'variaveis';

.hero {
    background-image: url('../images/fundo_rei_leao.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;

    &__content{
        max-width: 640px;
        padding: 20px;
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: variaveis.$primary-bg-color;
    color: variaveis.$primary-text-color;
img{
        height: 50px;
    }

}

.navigation{
    list-style: none;
    display: flex;
    gap: 20px;

    &__links{
        color: #fff;
    text-decoration: none;
    font-weight: bold;

    &__hover{
        text-decoration: underline;
    }
    }
}

.login-button{
    padding: 10px 20px;
    background-color: variaveis.$secondary-bg-color;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &__hover {
        background-color: variaveis.$secondary-bg-color-hover;
    }
}