@media (max-width: 768px) {

    .hero__content img{
       size: 50px;
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    .navigation__links {
        margin: 5px 0;
    }

    .hero {
        padding: 10px;
        height: auto;
    }

    .hero__content {
        text-align: center;
    
    }

    .section__new__title__img {
        flex-direction: column;
        align-items: center;
    }

    .section__new__title__p {
        text-align: justify;
    }
}