@use 'variaveis';
@use 'hero';
@use 'newSection';
@use 'resumo';
@use 'footer';
@use 'responsive';

.fade-in {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 5s ease-out, transform 5s ease-out;

    &.visible {
        opacity: 2;
        transform: translateX(10px);
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 background-color: variaveis.$primary-bg-color;
}

